<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{SLUG}}</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{NODE_PATH}}</string>
    <string>{{PROJECT_ROOT}}/dist/index.js</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>{{HOME}}</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>DOCKER_HOST</key>
    <string>unix://{{HOME}}/.docker/run/docker.sock</string>
    <key>CONTAINER_IMAGE_BASE</key>
    <string>{{CONTAINER_IMAGE_BASE}}</string>
    <key>CONTAINER_IMAGE</key>
    <string>{{CONTAINER_IMAGE}}</string>
  </dict>
  <key>WorkingDirectory</key>
  <string>{{HOME}}/.clawbridge</string>
  <key>StandardOutPath</key>
  <string>{{HOME}}/.clawbridge/logs/out.log</string>
  <key>StandardErrorPath</key>
  <string>{{HOME}}/.clawbridge/logs/err.log</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
</dict>
</plist>
